<h1 id="dashboard-title">Top Heroes</h1>

<hr>

<div class="row" *ngIf="!heroes.length">
  <div class="col">
    Loading your Top Heroes...
    <div class="spinner-border" role="status">
      <span class="sr-only">(loading...)</span>
    </div>
  </div>
</div>

<div class="row" id="search-hero">
  <div class="col">
    <app-hero-search></app-hero-search>
  </div>
</div>

<div class="row" id="top-hero-list">
  <div class="col-12 col-md-6" *ngFor="let hero of heroes">
    <div class="card" id="top-hero-{{hero.id}}">
      <img src="assets/cat-hero.jpg" class="card-img-top" alt="{{hero.name}}">
      <div class="card-body">
        <h5 class="card-title">{{hero.name}}</h5>
        <p class="card-text">The hero we deserve...</p>
        <a routerLink="/detail/{{hero.id}}" class="btn btn-outline-dark btn-block">View details</a>
      </div>
    </div>
  </div>
</div>
