<p>heroes works!</p>

<ul>
  <li *ngFor="let singleHero of heroes"
      (click)="onSelect(singleHero)">
    <span class="list-id">{{singleHero.id}}.</span> <span class="list-label" [class.selected] = "singleHero === selectedHero">{{singleHero.name}}</span>
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>
