<h1 id="heroes-overview-title">Heroes overview</h1>

<hr>

<ul>
  <li *ngFor="let singleHero of heroes "
      (click)="onSelect(singleHero)">
    <div class="list-label" id="hero-item-id-{{singleHero.id}}" [class.selected]="singleHero === selectedHero">
      <span class="list-id">{{singleHero.id}}.</span>
      {{singleHero.name}}
    </div>

  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

<div>
  <label>Hero name:
    <input #heroName/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
