$color-orange: #ffc107;
$color-dark-orange: #ff8e21;
$color-green: #ffeb09;

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  padding-bottom: 1em;
}

ul li .selected {
  background-color: $color-green;
}

ul li :hover {
  background-color: $color-dark-orange;
  cursor: pointer;
}

.list-label {
  padding: 1em;
}

.list-id {
  padding: 0.5em;
  margin-right: 0.5em;
  background-color: $color-dark-orange;
}

.list-label {
  background-color: $color-orange;
}
